.gallery {

   .fs-carousel {
      &-pagination {
         position: absolute;
         bottom: 0;
      }
   }

   &--menu {

      z-index: 9;
      width: 100%;
      .center();

      &_btn {
         display: block;
         text-align: center;
         padding: 10px 0;
         opacity: .75;
         &:hover {
            opacity: 1;
         }
         img {
            margin: auto;
         }
      }

      &_wrapper {
         z-index: 99;
         @media @desktop {
            //left: -79px;
            position: relative;
            //position: absolute;
         }
      }

   }

   &-wrapper {
      position: relative;
   }

   &--list {

      &_item {

         &_bg {
            @media @min {
               height: 150px;   
            }
            @media @tablet {
               height: 220px;   
            }
            @media @desktop {
               height: 325px;   
            }
            
            display: block;
            
            &.tall {
               @media @min {
                  height: 300px;   
               }
               @media @tablet {
                  height: 440px;   
               }
               @media @desktop {
                  height: 650px;   
               }
               
            }
            &.full {
               @media @min {
                  height: 300px;   
               }
               @media @tablet {
                  height: 440px;   
               }
               @media @desktop {
                  height: 450px;   
               }
               
            }
         }

         &.description {

            background: #C1DCDA;
            position: relative;

            @media @min {
               //display: none;
            }
            @media @tablet {
               display: block;
            }

            .wrapper {
               .center();
               width: 100%;
            }

            h4 {
               .headerFont();
               display: block;
               color: @black;
               .font_size(13);
               text-transform: uppercase;
               letter-spacing: 2px;
               margin-bottom: 10px;
            }

            img {
               visibility: hidden;
            }

         }

      }

   }

}