.gallery {

   &--list {

      &_item {

         &_bg {
            height: 325px;
            display: block;
            &.tall {
               height: 650px;
            }
         }

         &.description {

            background: pink;
            position: relative;

            .wrapper {
               .center();
               width: 100%;
            }

            img {
               visibility: hidden;
            }

         }

      }

   }

}