.btn, .button {

  //.button();

  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  user-select: none;
  border-radius: 3px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
  .headerFont();

  &.btn-default, &.epm-submit-chimp {

    box-shadow: inset 0 0 0 1px @lightGray;
    background: none;

    &:hover {
      background: @bgGray;
    }

  }

  &.btn-first {
    padding-left: 0;
  }

  &-nav {
    margin-bottom: 0;
    height: 80px;
    line-height: 80px;
    .headerFont();
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    .font_size(14);
    position: relative;
    //padding: 0 5px;

    @media @min {
      .font_size(13);
      padding: 0 2px;
      letter-spacing: 1px;
    }
    @media @mobile {
      .font_size(14);
      padding: 0 5px;
      letter-spacing: 3px;
    }

    // &:before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   height: 1px;
    //   width: 8px;
    //   background: @lightGray;
    //   margin-top: -1px;
    //   left: -4px;
    // }
// 
    // &:after {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   top: 50%;
    //   margin-top: -1px;
    //   height: 1px;
    //   width: 8px;
    //   background: @lightGray;
    //   right: -4px;
    // }

    &:first-child {
      //padding-left: 0;
      &:before {
        display: none;
      }
    }

    &:last-child {
      //padding-right: 0;
      &:after {
        display: none;
      }
    }

  }

  &-icon {
    letter-spacing: 0;
    padding: 0 3px;
    a {
      letter-spacing: inherit;
    }
    &:before {
      position: relative;
      top: .1em;
      .font_size(16);
    }
  }

  &.btn-lg {

    .font_size(20);
    font-weight: 400;
    height: 44px;
    padding: 0 25px;
    line-height: 34px;

  }

  &.btn-sm {

    .font_size(12);
    height: 44px;
    padding: 0 25px;
    line-height: 34px;

  }

  &.disabled {

    background: @bgGray;
    color: @lightGray;
    box-shadow: inset 0 0 0 1px @lighterGray;
    pointer-events: none;

  }

  &.btn-link {

    box-shadow: inset 0 0 2px transparent;
    text-decoration: underline;

  }

  &.btn-primary {

    color: @white;
    .headerFont();
    text-transform: uppercase;
    letter-spacing: 2px;
    .font_size(12);
    font-weight: 400;
    background: @textGray;

    &:hover {
      background: darken(@textGray, 10%);
    }

  }

  &.btn-danger {

    color: @white;
    background: @error;

    &.btn-default {

      color: @error;
      background: none;
      box-shadow: inset 0 0 0 1px @error;

    }

  }

  &.btn-success {

    color: @white;
    background: @success;

    &.btn-default {

      color: @success;
      background: none;
      box-shadow: inset 0 0 0 1px @success;

    }

  }

}