#wrapper {
   @media @min {
      padding: 0 0;   
   }
   @media @tablet {
      //padding: 0 15px 15px;
   }
   max-width: 1500px;
   margin: auto;
   
}

.section {

   position: relative;

   @media @min {
      padding: @spaced 0;
   }

   @media @tablet {
      padding: @spaced*2 0 @spaced*4;
   }



   &--notop {
      padding-top: 0;
   }

   &--nobottom {
      padding-bottom: 0;
   }

   &--small {
      padding: @spaced 0;
   }

   &#page {
      //padding-top: 0;
      padding-bottom: 0;
   }

   &-icon {

      transform: translate(-50%, -50%);
      margin: auto;
      display: block;
      max-width: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      &.regular {
         position: relative;
         left: auto;
         transform: translate(0, -20%);
         margin-bottom: 0;
      }
   }

   header {

      h4 {
         margin-bottom: @spaced*1.75;
         text-transform: uppercase;
         letter-spacing: 2px;
         font-weight: 600;
         .font_size(16);
      }

   }

}

.gallery {

}

.notification {

   .cover();
   position: fixed;
   z-index: 999;
   padding: @spaced;
   overflow-y: scroll;
   -webkit-overflow-scrolling: touch;
   background: fade(@white, 20%);

   img {
      display: block;
      max-width: 100%;
      height: auto;
   }

   &--close {
      position: absolute;
      z-index: 99;
      right: 0;
      background: @black;
      color: @white;
      display: block;
      //top: -50%;
      //right: -50%;
      height: 30px;
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      transform: translate(50%,-50%);
      &:hover {
         color: @white;
      }
      &:before {
         position: relative;
         top: .125em;
      }
   }

   &_centered {
      position: relative;
      width: 100%;
      padding: @spaced 0;
   }

   &--content {
      min-height: 400px;
      position: relative;
      box-shadow: 0 0 @spaced @black25;
   }

}