.bg-color--gray,
.bg-color--grey,
.bg-color--beige {
  background-color: #FCF6E8;
  background-image: url('/assets/img/bg_beige.jpg');
  background-size: 50% auto;
  background-position: center center;
  background-repeat: repeat;
}
.bg-color--black {
  background-color: #231f20;
  background-image: url('/assets/img/bg_dark.jpg');
  background-size: 50% auto;
  background-position: center center;
  background-repeat: repeat;
  color: #ffffff;
}
.bg-color--black a {
  color: rgba(255, 255, 255, 0.75);
}
.bg-color--black a:hover {
  color: #ffffff;
}
.bg-color--black .divider {
  background: rgba(255, 255, 255, 0.25);
}
.bg-color--black h1,
.bg-color--black h2,
.bg-color--black h3,
.bg-color--black h4,
.bg-color--black h5,
.bg-color--black h6 {
  color: #ffffff;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.red {
  color: #C02815;
}
.invisible {
  visibility: hidden;
}
img.rounded {
  display: block;
  border-radius: 50%;
}
.rotate-45 {
  transform: rotate(45deg);
  transform-origin: center center;
}
.rotate-90 {
  transform: rotate(90deg);
  transform-origin: center center;
}
.centered {
  float: none!important;
  margin: auto!important;
}
.wrapper {
  padding: 16.66666667px;
}
*:link,
*:visited,
*:active,
*:focus {
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, opacity 0.1s linear;
}
*:focus,
*:hover,
*:active {
  outline: none;
}
body {
  font-family: 'adobe-caslon-pro', 'georgia', serif;
  font-size: 22px;
  font-size: 1.375rem;
  -webkit-font-smoothing: antialiased;
  color: #666666;
  line-height: 1.5;
}
body * {
  word-wrap: break-word;
}
::selection,
::-moz-selection {
  background: #eee;
  text-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'proxima-nova', sans-serif;
  color: #404040;
  line-height: inherit;
  margin: 15px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #d64242;
}
a {
  text-decoration: none;
  color: #4d4d4d;
}
a:hover {
  color: #333333;
}
a.underline {
  border-bottom: 1px solid;
}
p {
  color: inherit;
  margin: 0 0 10px;
  line-height: 1.6;
}
p.emphasized {
  font-size: 20px;
  font-size: 1.25rem;
  margin: 15px 0;
}
p a {
  border-bottom: 1px solid #bbb;
  color: #666666;
}
ol,
ul {
  margin: 0 0 25px 0;
  padding: 0 0 0 25px;
}
li {
  position: relative;
  display: block;
  line-height: 1.5;
  margin: 5px 0 0;
  color: #666666;
}
li a {
  color: inherit;
}
li:before {
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: -15px;
  background: #ccc;
  border-radius: 100%;
  content: '';
  display: block;
}
hr {
  width: 100%;
  height: 1px;
  background: #ffffff;
  border: none;
  clear: both;
  margin: 25px 0;
}
hr.thin {
  background: #e7e7ec;
}
iframe {
  border: none;
}
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}
figure {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  border: none;
  border-radius: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
menu {
  margin: 0;
  padding: 0;
}
button {
  background: none;
  border: none;
  padding: 0;
}
form label {
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  margin: 0 0 5px;
  font-weight: 500;
}
form input[type=text],
form input[type=email],
form input[type=password],
form input[type=tel],
form input[type=submit],
form input[type=search],
form textarea {
  font-size: 20px;
  font-size: 1.25rem;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #cbcbd2;
  box-shadow: none;
  margin: 0 0 10px;
  padding: 10px;
}
form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form input[type=tel]:focus,
form input[type=submit]:focus,
form input[type=search]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
form input[type=submit],
form input[type=search] {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  user-select: none;
  border-radius: 3px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
}
form input[type=submit].btn-default,
form input[type=search].btn-default,
form input[type=submit].epm-submit-chimp,
form input[type=search].epm-submit-chimp {
  box-shadow: inset 0 0 0 1px #cbcbd2;
  background: none;
}
form input[type=submit].btn-default:hover,
form input[type=search].btn-default:hover,
form input[type=submit].epm-submit-chimp:hover,
form input[type=search].epm-submit-chimp:hover {
  background: #f2f2f2;
}
form input[type=submit].btn-first,
form input[type=search].btn-first {
  padding-left: 0;
}
form input[type=submit]-nav,
form input[type=search]-nav {
  margin-bottom: 0;
  height: 80px;
  line-height: 80px;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  padding: 0 5px;
}
form input[type=submit]-nav:first-child:before,
form input[type=search]-nav:first-child:before {
  display: none;
}
form input[type=submit]-nav:last-child:after,
form input[type=search]-nav:last-child:after {
  display: none;
}
form input[type=submit]-icon,
form input[type=search]-icon {
  letter-spacing: 0;
  padding: 0 3px;
}
form input[type=submit]-icon a,
form input[type=search]-icon a {
  letter-spacing: inherit;
}
form input[type=submit]-icon:before,
form input[type=search]-icon:before {
  position: relative;
  top: .1em;
  font-size: 16px;
  font-size: 1rem;
}
form input[type=submit].btn-lg,
form input[type=search].btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
form input[type=submit].btn-sm,
form input[type=search].btn-sm {
  font-size: 12px;
  font-size: 0.75rem;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
form input[type=submit].disabled,
form input[type=search].disabled {
  background: #f2f2f2;
  color: #cbcbd2;
  box-shadow: inset 0 0 0 1px #e7e7ec;
  pointer-events: none;
}
form input[type=submit].btn-link,
form input[type=search].btn-link {
  box-shadow: inset 0 0 2px transparent;
  text-decoration: underline;
}
form input[type=submit].btn-primary,
form input[type=search].btn-primary {
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  background: #666666;
}
form input[type=submit].btn-primary:hover,
form input[type=search].btn-primary:hover {
  background: #4d4d4d;
}
form input[type=submit].btn-danger,
form input[type=search].btn-danger {
  color: #ffffff;
  background: #d64242;
}
form input[type=submit].btn-danger.btn-default,
form input[type=search].btn-danger.btn-default {
  color: #d64242;
  background: none;
  box-shadow: inset 0 0 0 1px #d64242;
}
form input[type=submit].btn-success,
form input[type=search].btn-success {
  color: #ffffff;
  background: #74c080;
}
form input[type=submit].btn-success.btn-default,
form input[type=search].btn-success.btn-default {
  color: #74c080;
  background: none;
  box-shadow: inset 0 0 0 1px #74c080;
}
.alert {
  font-size: 15px;
  font-size: 0.9375rem;
  background: #e7e7ec;
  color: #666666;
  display: block;
  margin: 0 0 10px 0;
  font-weight: 400;
  border-radius: 3px;
  padding: 8px 15px;
}
.alert p {
  margin: 0;
  color: inherit;
}
.alert.alert-danger {
  background: #d64242;
  color: #ffffff;
}
.alert.alert-success {
  background: #74c080;
  color: #ffffff;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.divider {
  background: #e7e7ec;
}
.divider.vertical {
  width: 1px;
  margin: auto;
}
.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 10px 0;
  text-align: center;
  user-select: none;
  border-radius: 3px;
  height: 34px;
  padding: 0 10px;
  line-height: 34px;
}
.btn.btn-default,
.btn.epm-submit-chimp {
  box-shadow: inset 0 0 0 1px #cbcbd2;
  background: none;
}
.btn.btn-default:hover,
.btn.epm-submit-chimp:hover {
  background: #f2f2f2;
}
.btn.btn-first {
  padding-left: 0;
}
.btn-nav {
  margin-bottom: 0;
  height: 80px;
  line-height: 80px;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 14px;
  font-size: 0.875rem;
  position: relative;
  padding: 0 5px;
}
.btn-nav:first-child:before {
  display: none;
}
.btn-nav:last-child:after {
  display: none;
}
.btn-icon {
  letter-spacing: 0;
  padding: 0 3px;
}
.btn-icon a {
  letter-spacing: inherit;
}
.btn-icon:before {
  position: relative;
  top: .1em;
  font-size: 16px;
  font-size: 1rem;
}
.btn.btn-lg {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
.btn.btn-sm {
  font-size: 12px;
  font-size: 0.75rem;
  height: 44px;
  padding: 0 25px;
  line-height: 34px;
}
.btn.disabled {
  background: #f2f2f2;
  color: #cbcbd2;
  box-shadow: inset 0 0 0 1px #e7e7ec;
  pointer-events: none;
}
.btn.btn-link {
  box-shadow: inset 0 0 2px transparent;
  text-decoration: underline;
}
.btn.btn-primary {
  color: #ffffff;
  font-family: 'proxima-nova', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  background: #666666;
}
.btn.btn-primary:hover {
  background: #4d4d4d;
}
.btn.btn-danger {
  color: #ffffff;
  background: #d64242;
}
.btn.btn-danger.btn-default {
  color: #d64242;
  background: none;
  box-shadow: inset 0 0 0 1px #d64242;
}
.btn.btn-success {
  color: #ffffff;
  background: #74c080;
}
.btn.btn-success.btn-default {
  color: #74c080;
  background: none;
  box-shadow: inset 0 0 0 1px #74c080;
}
#error {
  position: relative;
}
@media screen and (min-width: 300px) {
  #error {
    height: 350px;
  }
}
@media screen and (min-width: 740px) {
  #error {
    height: 600px;
  }
}
@media screen and (min-width: 980px) {
  #error {
    height: 600px;
  }
}
#error--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#wrapper {
  max-width: 1500px;
  margin: auto;
}
@media screen and (min-width: 300px) {
  #wrapper {
    padding: 0 0;
  }
}
.section {
  position: relative;
}
@media screen and (min-width: 300px) {
  .section {
    padding: 25px 0;
  }
}
@media screen and (min-width: 740px) {
  .section {
    padding: 50px 0 100px;
  }
}
.section--notop {
  padding-top: 0;
}
.section--nobottom {
  padding-bottom: 0;
}
.section--small {
  padding: 25px 0;
}
.section#page {
  padding-top: 0;
  padding-bottom: 0;
}
.section-icon {
  transform: translate(-50%, -50%);
  margin: auto;
  display: block;
  max-width: 50px;
  position: absolute;
  top: 0;
  left: 50%;
}
.section-icon.regular {
  position: relative;
  left: auto;
  transform: translate(0, -20%);
  margin-bottom: 0;
}
.section header h4 {
  margin-bottom: 43.75px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
}
.notification {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  position: fixed;
  padding-top: 25%;
}
.notification--content {
  min-height: 400px;
  background: #FAF4EC;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  opacity: .95;
}
#header--logo {
  margin: 0;
  font-weight: 700;
  color: #d64242;
}
#header .menu {
  padding: 0;
  margin: 0;
}
#header .menu li {
  margin: 0;
  display: inline-block;
}
#header .menu li:before {
  display: none;
}
.entry {
  margin-bottom: 100px;
}
.entry-header {
  margin-bottom: 25px;
}
.entry-title {
  margin-bottom: 5px;
}
.entry img {
  display: block;
  max-width: 100%;
  height: auto;
}
.widget-title {
  margin-bottom: 5px;
}
.widget-area .xoxo {
  padding-left: 0;
}
#splash {
  color: rgba(255, 255, 255, 0.5);
  background: #231f20;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#splash--centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#footer {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.8;
}
#footer a {
  text-decoration: none;
  border: 0;
}
#footer p {
  line-height: inherit;
}
#footer p strong,
#footer p b {
  font-family: 'proxima-nova', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
#footer--arrow {
  display: block;
  margin-top: -50px;
}
#footer--copyright {
  font-size: 15px;
  font-size: 0.9375rem;
}
#footer--copyright p {
  font-size: inherit;
}
#footer--copyright .wag {
  font-family: 'proxima-nova', sans-serif;
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .25;
  transition: 300ms ease;
}
#footer--copyright .wag a {
  color: inherit;
}
#footer--copyright .wag:hover {
  opacity: 1;
}
.gallery .fs-carousel-pagination {
  position: absolute;
  bottom: 0;
}
.gallery--menu {
  z-index: 9;
  width: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery--menu_btn {
  display: block;
  text-align: center;
  padding: 10px 0;
  opacity: .75;
}
.gallery--menu_btn:hover {
  opacity: 1;
}
.gallery--menu_btn img {
  margin: auto;
}
.gallery--menu_wrapper {
  z-index: 99;
}
@media screen and (min-width: 980px) {
  .gallery--menu_wrapper {
    position: relative;
  }
}
.gallery-wrapper {
  position: relative;
}
.gallery--list_item_bg {
  display: block;
}
@media screen and (min-width: 300px) {
  .gallery--list_item_bg {
    height: 150px;
  }
}
@media screen and (min-width: 740px) {
  .gallery--list_item_bg {
    height: 220px;
  }
}
@media screen and (min-width: 980px) {
  .gallery--list_item_bg {
    height: 325px;
  }
}
@media screen and (min-width: 300px) {
  .gallery--list_item_bg.tall {
    height: 300px;
  }
}
@media screen and (min-width: 740px) {
  .gallery--list_item_bg.tall {
    height: 440px;
  }
}
@media screen and (min-width: 980px) {
  .gallery--list_item_bg.tall {
    height: 650px;
  }
}
@media screen and (min-width: 300px) {
  .gallery--list_item_bg.full {
    height: 300px;
  }
}
@media screen and (min-width: 740px) {
  .gallery--list_item_bg.full {
    height: 440px;
  }
}
@media screen and (min-width: 980px) {
  .gallery--list_item_bg.full {
    height: 450px;
  }
}
.gallery--list_item.description {
  background: #C1DCDA;
  position: relative;
}
@media screen and (min-width: 740px) {
  .gallery--list_item.description {
    display: block;
  }
}
.gallery--list_item.description .wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.gallery--list_item.description h4 {
  font-family: 'proxima-nova', sans-serif;
  display: block;
  color: #231f20;
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.gallery--list_item.description img {
  visibility: hidden;
}
.accordion {
  padding: 0;
}
.accordion-wrapper {
  padding: 0;
}
.accordion-header__title {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.accordion-item {
  margin: 0;
  display: block;
}
.accordion-item__question {
  font-family: 'proxima-nova', sans-serif;
  display: block;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #231f20;
  font-size: 15px;
  font-size: 0.9375rem;
}
.accordion-item__question:after {
  position: absolute;
  top: .125em;
  right: 10px;
}
.accordion-item__answer {
  padding-top: 15px;
}
.accordion-item:before {
  display: none;
}
.menu-item {
  padding: 13px 0;
}
.menu-item_title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1px;
}
.menu-item_title strong {
  font-family: 'adobe-caslon-pro', 'georgia', serif;
  font-size: 22px;
  font-size: 1.375rem;
  font-size: 17px;
  font-size: 1.0625rem;
  letter-spacing: 0;
  font-weight: normal;
  text-transform: capitalize;
}
.menu-item_desc {
  font-family: 'proxima-nova', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.menu-item_desc p:last-child {
  margin-bottom: 0;
}
#menu--specials {
  color: #ffffff;
}
#menu--specials p,
#menu--specials strong {
  color: inherit;
}
.arrow-body {
  width: 1px;
  height: 500px;
  background: rgba(0, 0, 0, 0.25);
  margin: auto;
}
#page header h1 {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 16.66666667px;
}
#page--intro h4 {
  font-weight: 600;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 0;
}
#bag {
  position: relative;
}
#bag--wrapper {
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0;
  z-index: 99;
}
@media screen and (min-width: 300px) {
  #bag--wrapper {
    width: 300px;
  }
}
@media screen and (min-width: 740px) {
  #bag--wrapper {
    width: 400px;
  }
}
#bag img {
  display: block;
  max-width: 100%;
  height: auto;
}
